[Unit]
Description=VK Bot
After=network.target

[Service]
WorkingDirectory=/opt/bots
ExecStart=python3 vk_bot.py
Restart=always

[Install]
WantedBy=multi-user.target